---
// Layout import — provides basic page elements: <head>, <nav>, <footer> etc.
import { About, Contact, Experience, Feedbacks, Hero, Navbar, Tech, Works, StarsCanvas } from "../components";

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<div class="relative z-0 bg-primary">
  <div class="bg-hero-pattern bg-cover bg-no-repeat bg-center">
    <Navbar client:visible />
    <Hero client:visible />
  </div>
  <About client:visible />
  <Experience client:visible />
  <Tech client:visible />
  <Works client:visible />
  <Feedbacks client:visible />
  <div class="relative z-0">
    <Contact client:visible />
    <StarsCanvas client:visible />
  </div>
</div>
