---
// Learn about using Astro layouts:
// https://docs.astro.build/en/core-concepts/layouts/

import MainHead from "../components/MainHead.astro";

// Component Imports

interface Props {
  title?: string | undefined;
  description?: string | undefined;
}

const { title, description } = Astro.props;
---

<html lang="en">
  <head>
    <MainHead title={title} description={description} />
  </head>
  <body>
    
  </body>
</html>
